*.mat
*.txt
*.TXT
*.fig
*.png
*.jpg
*.klog
*.alog
*.pkl
*.csv
*.xlsx
*.bdr
*.tsv
*.prn
*.log
*.data
*.ps
*.h5
*.sio
*.chk
*.mod
Analysis/*
Code/Past_code/*
Log/*
SIMI_oasn/*
simi_spl_sd/ang_figures/*
simi_spl_sd/figures/*
simi_spl_sd/bf_figures/*